@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Sacramento&family=Supermercado+One&display=swap');

body{
  text-align: center !important;
  margin: 0;
  font-family: 'Karla', sans-serif;
  color: #40514E;
  font-size: 1.5rem;
  overflow-x: hidden;
}

h1{
  font-size: 4rem;
  padding-top: 15%;
  margin: 0;
  font-family: 'Sacramento', cursive;
  color: #009DAE;
}
h2{
  margin: auto;
  font-size: 3rem;
  font-family: 'Supermercado One', cursive;
  color: #009DAE;
  padding-bottom: 20px;
}
h3 {
  font-family: 'Supermercado One', cursive;
  color: #009DAE;
  text-align: left;
  padding-top: 55px;
  margin: auto;
}
h4 {
  margin: auto;
  font-size: 1.5rem;
  font-family: 'Supermercado One', cursive;
  color: #009DAE;
  padding-bottom: 20px;
}
p {
  width: 300px;
  margin: auto;
  padding-top: 1%;
  font-weight: bold;
}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin-top: 50px;

}
/* ----------------------------------------------------------- */
.navbar{
  background-color: rgba(227,253,253,0.5) ;
  position: fixed;
  z-index: 1;
  width: 100%;
}
.logo {
  width: 70px;
  float: left;
  padding: 20px 20px 20px 23%;
}
.navlinks {
  width: 400px;
  height: 70px;
  text-align: center;
  padding: 20px 10%;
  float: right;
  font-size: 1.3rem;
}
.navlinks a{
  display: inline-block;
  text-decoration: none;
  opacity: 80%;
  padding: 20px;
  color: #009DAE;
  font-weight: bold;
}
.navlinks a:hover{
  opacity: 100%;
  font-size: 1.5rem;
  padding: 15px;
}
.navbtn{
  visibility: hidden;
  width: 0px;
}
.navmenu {
  visibility: hidden;
  position: absolute;
}
@media (max-width:900px) {
  .logo{
    padding-left: 5%;
    float: none;
  }
  .navlinks{
    padding: 20px 4%;
  }
  .navlinks a{
    padding: 15px;
  }
}
@media (max-width:600px) {
  .navlinks{
    visibility: hidden;
    width: 0px;
    padding: 0px;
  }
  .navicon{
    visibility: visible;
    width: auto;
    font-size: 1.5rem;
    padding: 5px;
    color: white;
  }
  .navbtn{
    float: right;
    visibility: visible;
    width: 50px;
    margin: 30px;
    border: none;
    background-color: #009DAE;
    opacity: 80%;
    border-radius: 10px;
  }
  .navbtn:hover{
    opacity: 100%;
  }
  .logo{
    width: 60px;
    float: left;
  }
  /* --------------------------------------------- */
  .navmenu{
    display: none;
    visibility: visible;
    width: 200px;
    z-index: 5;
    position: fixed;
    margin-top: 100px;
    background-color: #009DAE;
    margin-left: 49%;
    border-radius: 10px;
  }
  .navmenu ul{
    list-style-type: none;
    padding: 0px;
  }
  .navmenu a{
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    font-weight: bold;
    color: white;
  }
  /* --------------------------------------------------- */
}

/* --------------------------------------------------------------------------- */
#home {
  background-color: #E3FDFD;
  text-align: center;
}
.cloud {
  width: 10%;
  right: 20%;
  top: 10%;
  position: absolute;
}
.cloud2 {
  width: 10%;
  left: 20%;
  top: 40%;
  position: absolute;

}
.mountain {
  width: 60%;
  margin: auto;
  padding-top: 10%;
}
#about,#skill,#contact {
  width: 60%;
  margin: 50px auto 100px auto;
}

.myimg {
  width: 200px;
  padding-top: 50px;
  padding-bottom: 16px;
}
.gif {
  width: 160px;
  float: left;
  padding: 20px;
}
.gif2 {
  width: 160px;
  float: right;
  padding: 20px;
}
.skilltext {
  text-align: left;
  padding-top: 3px;
  width: auto;
}
.helptext {
  padding-bottom: 50px;
}
#footer {
  background-color: #FFE652;

}
.copyright {
  padding: 50px;
  text-decoration: underline;
  width: 500px;
  margin: auto;
  font-size: 1rem;
}
.btn {
  background: #bbff7f;
  background-image: -webkit-linear-gradient(top, #bbff7f, #09ad2a);
  background-image: -moz-linear-gradient(top, #bbff7f, #09ad2a);
  background-image: -ms-linear-gradient(top, #bbff7f, #09ad2a);
  background-image: -o-linear-gradient(top, #bbff7f, #09ad2a);
  background-image: linear-gradient(to bottom, #bbff7f, #09ad2a);
  -webkit-border-radius: 21;
  -moz-border-radius: 21;
  border-radius: 21px;
  text-shadow: 1px 5px 1px #666666;
  -webkit-box-shadow: 2px 3px 5px #666666;
  -moz-box-shadow: 2px 3px 5px #666666;
  box-shadow: 2px 3px 5px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 26px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-style: none;
}

.btn:hover {
  background: #38943e;
  background-image: -webkit-linear-gradient(top, #38943e, #38911a);
  background-image: -moz-linear-gradient(top, #38943e, #38911a);
  background-image: -ms-linear-gradient(top, #38943e, #38911a);
  background-image: -o-linear-gradient(top, #38943e, #38911a);
  background-image: linear-gradient(to bottom, #38943e, #38911a);
  text-decoration: none;
}
@media (max-width:600px) {
body {
  margin: 0;
}
.mountain{
  width: 100%;
}
.cloud {
  width: 160px;
  right: 0em;
  top: 0;
  overflow: hidden;
}
.cloud2 {
  width: 160px;
  left: -2em;
  top: 220px;
  overflow: hidden;
}
h1{
  padding-top: 35%;
}
.copyright {
  width: 300px;
}

p {
  width: auto;
}
h3 {
  text-align: center;
  padding-top: 25px;
}
h2 {
  font-size: 2.5rem;
}
.skilltext {
  text-align: center;
}
.gif,.gif2 {
  float: none;
  padding: 25px 0 0 0;
}
#skill {
  width: 70%;
}
}
